.container {
    display: flex;
    justify-content: center;
    width: 100%;

}

h1 {
    text-align: center;
    color: rgb(30, 0, 255);
    font-size: 45px;
    font-weight: bold;
}

a {
    width: 50px;
    height: 30px;
    background-color: rgb(18, 95, 238);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
    font-size: 18px;
    transition: all 0.5s;
    text-decoration: none;
}

a:hover {
    border-radius: 0px;
    color: red;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px 0;
    font-size: 18px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    width: 10%;
}

th {
    background-color: #f2f2f2;
}

.edit-btn,
.delete-btn {
    width: 40%;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    transition: all 1s;
}

.edit-btn {
    background-color: chartreuse;
    padding: 7px 15px;
}

.delete-btn {
    background-color: red;
}

.edit-btn:hover {
    border-radius: 0px;
    color: chartreuse;
    background-color: white;

}

.delete-btn:hover {
    border-radius: 0px;
    color: red;
    background-color: white;
}